Repository Cutting-Edge-Developers/discord-bot, changes with the labels that .github/labeler.yml gives for each.
All labels: packages:cleaner, packages:bot, packages:engine, packages:database

fixed(test): added yarn to --mode arg
  .github/workflows/test.yml
Labels: none

removed(turbo): unnecessary lines
  turbo.json
Labels: none

test(fix): renamed linting task
  .github/workflows/test.yml
Labels: none

chore(added): new packages and more init works
  .commitlintrc.json
  .vscode/settings.json
  package-lock.json
  package.json
  packages/bot/.env.empty
  packages/bot/package.json
  packages/bot/src/index.js
  packages/engine/package.json
  packages/updater/.eslintrc.json
  packages/updater/.prettierignore
  packages/updater/.prettierrc.json
  packages/updater/README.md
  packages/updater/cliff.toml
  packages/updater/package.json
  packages/updater/src/index.js
  packages/utility/.eslintrc.json
  packages/utility/.prettierignore
  packages/utility/.prettierrc.json
  packages/utility/README.md
  packages/utility/cliff.toml
  packages/utility/package.json
  packages/utility/src/Constants.js
  packages/utility/src/Options.js
  packages/utility/src/Utils.js
  packages/utility/src/index.js
  turbo.json
  yarn.lock
Labels: packages:bot, packages:engine

chore(eslintrc): removed unnecessary lines
  packages/bot/.eslintrc.json
  packages/database/.eslintrc.json
  packages/engine/.eslintrc.json
  packages/updater/.eslintrc.json
  packages/utility/.eslintrc.json
Labels: packages:bot, packages:engine, packages:database

doc(added): `README.md` file
  README.md
Labels: none

doc(added): new badges
  README.md
Labels: none

naber
  packages/bot/package.json
  packages/bot/src/commands/clear.js
  packages/bot/src/commands/ping.js
  packages/bot/src/events/guildMemberAdd.js
  packages/bot/src/events/interactionCreate.js
  packages/bot/src/events/ready.js
  packages/bot/src/index.js
  packages/database/.eslintrc.json
  packages/database/src/Client.js
  packages/database/src/Connection.js
  packages/database/src/index.js
  packages/database/src/models/Guild.js
  packages/database/src/models/GuildChannel.js
  packages/database/src/models/GuildEvent.js
  packages/database/src/models/GuildInvite.js
  packages/database/src/models/GuildMember.js
  packages/database/src/models/GuildRole.js
  packages/engine/.eslintrc.json
  packages/engine/package.json
  packages/updater/.eslintrc.json
  packages/updater/package.json
  packages/utility/.eslintrc.json
  packages/utility/package.json
  packages/utility/src/Colors.js
  packages/utility/src/Constants.js
  packages/utility/src/Debug.js
  packages/utility/src/Error.js
  packages/utility/src/Guild.js
  packages/utility/src/Intents.js
  packages/utility/src/InteractionManager.js
  packages/utility/src/Options.js
  packages/utility/src/Utils.js
  packages/utility/src/index.js
Labels: packages:bot, packages:engine, packages:database

.github/labeler.yml:

chore:
  - any: ['*']
    all: ['!packages/*', '!packages/**/*']

'packages:cleaner':
  - packages/cleaner/*
  - packages/cleaner/**/*

'packages:bot':
  - packages/bot/*
  - packages/bot/**/*

'packages:engine':
  - packages/engine/*
  - packages/engine/**/*

'packages:database':
  - packages/database/*
  - packages/database/**/*
